		<div id="header">
							<h3>Work Experience</h3>
		</div>	
			
		<div id="wrapper">

					<% @showexp.each do |showexp| %>
						
							<div id="company">
			
							<table >
								<tr>
										<td> <br/><%= showexp.company%></td>				
							</div>
									
									<td>
										<div id="duration">
											<BR/>
											<%= showexp.from_month%>
											<%= showexp.to_month%>

											<%= showexp.from_year%>
											<%= showexp.to_year%>
										</div>
									</td>		
							
								</tr>
								
								<tr >
									<td>
										<div id="job_title">
											<BR/>
											<%= showexp.title%>
										</div>
									</td>
								</tr>	
							
								<tr colspan="2">
									<td colspan="2">
										<div id="job_desc">
											<BR/>
										<p>
											<%= showexp.description%>
										</p>
									</div>
									</td>
								</tr>
							</table>	

					
					<%end%>
						
	</div>								
					
	
			
